.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: repeat(auto-fill, (170px, auto)) gi;
  gap: 10px; /* Jarak antara item di dalam grid */
}
